*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* Containers */
.flex-container{
    display: flex;
}
.container-narow{
    max-width: 1600px;
    margin: 90px auto 0;
}



/* Navbar styling */
.nav-top{
    justify-content: space-between;
    text-align: center;
}
ul{
    list-style: none;
}
li{
    flex-direction: row;
    padding: 10px;
}



/* Landing page */
.landing-page{
    background-image: url(../images/landing_02.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.landing-page-content p, 
.landing-page-content a{
    margin: 50px 0;
}
.landing-page-content img{
    margin: 0;
}


/* Search bar */
.search-bar{
    background-color: #017dfb;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}

.search-items input,
.search-items select{
    background-color: #017dfb;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    color: lightgray;
    box-shadow: none;
    -webkit-appearance:none;

}
.search-items input:focus,
.search-items select:focus{
    outline-color: transparent;
    outline-style: none;
}
.search-items input::placeholder,
.search-items select::placeholder{
    color: white;
}
.search-button{
    padding: 20px;
    background-color: pink;
    border-radius: 100px;
    text-align: center;    
}
.narrow{
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
form{
    justify-content: space-between;
}
.selection-item{
    display: flex;
    flex-direction: column;
}
.selection-item label{
    padding: 10px 0;
    color: #fff;
}

/* Recomended places */
h2{
    padding: 80px;
    margin: 0 auto;
}
.recomended-top{
    justify-content: center;
    width: 100%;
    padding: 0 15px;
}
.recomended-bottom{
    margin: 0 15px;
    justify-content: center;
}
div img{
    width: 100%;
    padding: 15px;
    height: 100%;
}
div div{
    height: 50%;
}



/* Recomended Hotels */
.recomended-hotel{
    flex-wrap: wrap;
}
.recomended-hotel section{
    margin-top: 0;
}
.column-hotel{
    width: 25%;
    height: 100%;
}
.column-hotel div{
    padding: 0 15px;
}
footer div{
    justify-content: center;
}


/* Advertisments */
.advertisments{
    min-height: 100vh;
    margin: 0 auto;
}
.ads-box{
    position: relative;
}
#scroll-left{
    position: absolute;
    top: 50%;
    left: 5%;
}
#scroll-right{
    position: absolute;
    top: 50%;
    right: 5%;
}

/* Footer */
.footer-content{
    padding: 80px;
    width: auto;
    flex-direction: column;
    text-align: center;
}

/* Button */
.button{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 60px;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    transform: translateY(10px);
}
.button:link, :visited{
    text-decoration: none;
    color: black;
}
.button:hover{
    background-color: orange;
    transition: 0.5s;
}
.column-hotel-bottom{
    display: flex;
    flex-direction: column;
}
.column-hotel-bottom-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column-hotel-bottom-2{
    margin: 0 auto 30px;
}
