// Variables
$mainColor: #017dfb;
$headerColor: #697899;

// Reset
*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif; 
    a{
        text-decoration: none;
        color:  $headerColor;
    }
}
// Containers
.flex{
    display: flex;
}
.narrow{
    max-width: 1600px;
}
.display{
    display: block;
}
// Styling

header{
    justify-content: center;
    margin: 0 auto;
    padding: 60px;
    color: $headerColor;
    h2{
        margin: 0;
        font-size: 1rem;
    }    
}

// Navbar container
.navbar-container{
    padding: 0 20px;
    margin: 0 auto;
    nav{
        margin-top: 90px;
        width: 100%;
    }
    div{
        margin: 0;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a{
        padding: 10px;
        white-space: nowrap;
        font-size: 1em;
    }
    a:hover{
        color: $mainColor;
    }
    .button{
        color: $mainColor;
        -webkit-box-shadow: 0px 0px 65px 0px rgba(1,125,251,0.25);
        -moz-box-shadow: 0px 0px 65px 0px rgba(1,125,251,0.25);
        box-shadow: 0px 0px 65px 0px rgba(1,125,251,0.25);
    }
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: $mainColor;
        font-size: 24px;
    }
    span{
        display: none;
    }
}

.button,
a.button{
    padding: 15px 40px;
    border-radius: 100px;
    color: $mainColor;
    background-color: #fff;
}

//Landing container 
.landing-container{
    width: 100%;
    max-width: 1940px;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../images/landing_02.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    h1{
        margin: 50px 0;
        color: $mainColor;
        font-size: 1rem;
    }
    img{
        width: 30%;
    }
}

// Searchbar container
.searchbar-container{
    margin: 0 auto;
    max-width: 1940px;
    background-color: $mainColor;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    input{
        border: none;
        border-radius: 3px;
        height: 100%;
    }

    .searchbar-selections{
        width: 100%;
        margin: 0 auto;
        padding: 60px 30px;
        justify-content: space-between;
    }
   // Input styling
    .searchbar-item{
        position: relative;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        i{
            padding: 15px;
        }
        input{
            text-align: center;
            color: #fff;
            background-color: red;
            outline: none;
        }
    }
    .select2-selection.select2-selection--single{
        height: auto;
        padding: 5px;
        background-color: blue;
        border: none;
        color:  inherit;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        color: inherit;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{
        border-color:#fff transparent transparent transparent;
    }
    .button{
        width: auto;
        padding: 10px;
    }
}


// Most recomended places Container
.recomended-places{
    img{
        display: block;
        width: 100%;
    }
    a{
        overflow: hidden;
        position: relative;
        display: block;
    }
    // Hover effect
    a:hover{
        img{
            transition: 0.5s ease;
            transform: scale(1.15);
        }
    }
    a:hover::after{
        position: absolute;
        content: "";
        background-color: rgba(1,125,251,0.6);
        opacity: 1;
        z-index: 0;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
    }
    .recomended-places-content{
        flex-direction: column;
        align-items: center;
    }
    .places-top-left,
    .places-top-right {
        flex-direction: column;
        justify-content: space-between;
    }
    }
    .place{
        padding: 10px;
        position: relative;
        .container{
            h3{
                position: absolute;
                bottom: 11%;
                left: 5%;
                margin: 0;
                color: #fff;
                font-size: 1.75em;
                z-index: 2;
            }
            .inner{
                display: none;
            }
        }
    }
    .place:hover{
        .container{
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            z-index: 3;
            h3{
                margin-bottom: 5%;
                position: unset;
                font-size: 2em;
            }
            .inner{
                width: 250px;
                justify-content: space-evenly;
                display: flex;
                background-color: none;
            }
            .inner-btn.button{
                background-color: transparent;
                color: #fff;
                border: 1px solid #fff;
                margin: 0 10px;
            }
        }
}

.fancybox-slide--iframe .fancybox-content{
    border-radius: 10px;
    width: 70%;
}
.fancybox-iframe{
    border-radius: 10px;
}

// Recomended Hotels
.recomended-hotels{
    max-width: 1940px;
    margin: 0 auto;
    .hotel{
        flex-direction: column; 
        max-width: 25%;
        padding: 15px;
        .button{
            -webkit-box-shadow: 0px 0px 65px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 0px 65px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 0px 65px 0px rgba(0,0,0,0.25);
        }
        .hotel-top{
            overflow: hidden;
        }
    }
    .hotel:hover{
        img{
            transition: 0.5s ease;
            transform: scale(1.15);

        }
    }
    .hide{
        height: 0;
        padding: 0;
        margin:0 ;
        overflow: hidden;
    }
}
.recomended-hotels-content{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    img{
        width: 100%;
    }
}
.hotel-bottom{
    justify-content: space-between;
    padding: 30px 30px 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
    p{
        margin: 0;
        padding-bottom: 25px;
    }
}
.hotel-bottom-more{
    margin: 0 auto;
    justify-content: center;
    transform: translateY(-50%);
}
.more-offers{
    justify-content: center;
    margin: 0 auto;
    padding: 60px;
    .button{
        color: #c5c5c5;
        border: 1px solid #c5c5c5;
    }
}

// Slider
.swiper-container {
    max-width: 1940px;;
    width: 100%;
    height: 100%;
}
.swiper-slide{
    position: relative;
    img{
        display: block;
        width: 100%;
    }
    .slides-text{
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 770px;
        left: 50%;
        h3{
            margin-top: 0;
            font-size: 4em;
            span{
                color: #0dcfff;
            }
        }
        .author{
            font-weight: 800;
        }
    }
}
.swiper-button-prev{
    left: 9%;
}
.swiper-button-next{
    right: 9%;
}
// Map
#map{
    height: 40vh;
}
// Footer
footer{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 60px;
    color: #bdbdbd;
    img{
        width: min-content;
        filter: grayscale(1);  

    }
}
//Contacts
.contact-container{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    background-color: peachpuff;
    border-radius: 7px 7px 0 0;
    .inputsForm{
        transition: ease 1s;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: 0;
        overflow: hidden;
        input,
        textarea{
            width: 50%;
            margin: 20px;
            padding: 15px;
            border: none;
            border-radius: 7px;
            resize: none;
            outline: none;
        }
    }
    h4{
        text-transform: uppercase;
    }
    .contact-content{
        width: 100%;
        height: 100%;
        background-color: rosybrown;
        border-radius: 7px 7px 0 0;
        .contact-item{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-bottom: 50px;
            i{
                font-size: 2em;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}
.inputsForm.contactsDisplay{
    transition: ease .1s;
    height: 50vh;
}
// responsive========
@import '../scss/responsive.scss';