// Responsive display 

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1400px){
    html{
        font-size: 14px;
    }
    .places-top,
    .places-bottom{
        .button{
            padding: 10px 20px;
        }
    }
}
@media (max-width: 1200px) {  
    html{
        font-size: 12px;
    }
    .places-top,
    .places-bottom{
        .button{
            padding: 10px 20px;
        }
    }
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    html{
        font-size: 9px;
    }
    .landing-container{
        background-attachment: scroll;
    }

// RECOMENDED HOTELS CONTENT=================================
    .recomended-hotels-content{
        justify-content: center;
    }
    .recomended-hotels{
        .hotel{
            width: 33.3333%;
        }
    }
// RECOMENDED PLACES CONTENT=================================
    .recomended-places{
        .places-top{
            flex-wrap: wrap;
            flex-direction: row;
            .places-top-left,
            .places-top-center{
                width: 50%;
                a{
                    display: flex;
                }
                .button{
                    padding: 10px 15px;
                }
            }
            .places-top-right{
                flex-direction: row;
                width: 100%;
                .button{
                    padding: 10px 15px;
                }
                .place{
                    width: 50%;
                }
            }
        } 
        .places-bottom{
            flex-direction: row;
            .button{
                padding: 10px 15px;
            }
            .place{
                width: 50%;
            }
        }   
    }
    
    
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 800px) {  
    header h2 {
        font-size: 1.5rem;
    }

    // NAVBAR=================================
.navbar-container{
    transition: 1s ease;
    overflow: hidden;
    height: 0px;
    max-height: 100%;
    padding: 0;
    nav{
        margin: 20px 0 0;
    }
    span{
        display: block;
    }
    .main-nav{
        flex-direction: column;
        width: 100%;
        display: block;
        div{
            justify-content: center;
            width: 100%;
        }
        ul{
            padding:0;
            margin:0;
            flex-direction: column;
            text-align: center;
            justify-content: space-evenly;
        }
        li{
            padding: 20px;
        }
        a{
            font-size: 1.5em;
        } 
    }
    &.active{
        transition: 1s ease;
        overflow: hidden;
        height: 200vh;
    }
}

// SEARVHBAR=================================
    .searchbar-container{
        .searchbar-selections{
            transition: 1s ease;
            flex-direction: column;
            overflow: hidden;
            margin:0;
            max-height: 0;
            padding: 0;
            .searchbar-item{
                align-items: flex-end;
                input{
                    width: 100%;
                    padding: 10.75px;
                    font-size: 1.5rem;
                }
                label{
                    text-align: start;
                    display: block;
                    width: 60%;
                    font-size: 1.5rem;
                }
                &-button{
                    width: 50%;
                    margin: 5% auto 0;
                    .button{
                        width: 100%;
                    }
                }

            }
        }
        .select2-selection__rendered{
            padding: 0px;
            font-size: 1.5rem;
            }
        .search-arrow{
            display: flex;
            transform: translateY(50%);
            width: 100%;
            justify-content: center;
            font-size: 5rem;
            i{
                transition: 1s ease;
                color: burlywood;
                height: auto;
            }
        }
        .pressed{
            transition: 1s ease;
            transform: rotate(180deg);    
        }
        .search-burger{
            transition: 1s ease;
            max-height: 200vh;
            padding: 10px 10px 0;
        }
    }

// RECOMENDED HOTELS CONTENT=================================
    .recomended-hotels{
        .hotel{
            width: 50%;
        }
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

// RECOMENDED HOTELS CONTENT=================================
   .recomended-hotels{
       .hotel{
           width: 80%;
        //    padding: 20px;
       }
   }
// RECOMENDED PLACES CONTENT=================================
.recomended-places{
    .container{
        font-size: 1.5rem;
    }
    .places-top{
        flex-direction: column;
        .places-top-left,
        .places-top-center,
        .places-top-right{
            display: block;
            flex-direction: column;
            width: 100%;
            .place{
                width: 100%;
            }
            a{
                width: 100%;
            }
            .button{
                padding: 10px 20px;
            }
            }
        }
        .places-bottom{
            flex-direction: column;
            .place{
                width: 100%;
            }
        }
    }   
// CONTACTS
// ==========================================================
.contacs-section{
    min-height: 50vh;
    .contact-container{
        width: 100%;
    }
    .iphone{
        display: none;
    }
}
}


