*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

body a {
  text-decoration: none;
  color: #697899;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.narrow {
  max-width: 1600px;
}

header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 60px;
  color: #697899;
}

header h2 {
  margin: 0;
  font-size: 1rem;
}

.navbar-container {
  margin: 0 auto;
}

.navbar-container nav {
  margin-top: 90px;
  width: 100%;
}

.navbar-container div {
  margin: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

.navbar-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-container a {
  padding: 10px;
  white-space: nowrap;
  font-size: 1em;
}

.navbar-container a:hover {
  color: #017dfb;
}

.navbar-container .button {
  color: #017dfb;
  -webkit-box-shadow: 0px 0px 65px 0px rgba(1, 125, 251, 0.25);
  -moz-box-shadow: 0px 0px 65px 0px rgba(1, 125, 251, 0.25);
  box-shadow: 0px 0px 65px 0px rgba(1, 125, 251, 0.25);
}

.navbar-container .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #017dfb;
  font-size: 24px;
}

.navbar-container span {
  display: none;
}

.button,
a.button {
  padding: 15px 40px;
  border-radius: 100px;
  color: #017dfb;
  background-color: #fff;
}

.landing-container {
  width: 100%;
  max-width: 1940px;
  margin: 0 auto;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../images/landing_02.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.landing-container h1 {
  margin: 50px 0;
  color: #017dfb;
  font-size: 1rem;
}

.landing-container img {
  width: 30%;
}

.searchbar-container {
  margin: 0 auto;
  max-width: 1940px;
  background-color: #017dfb;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.searchbar-container .searchbar-selections {
  width: 100%;
  margin: 0 auto;
  padding: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.searchbar-container .searchbar-item {
  position: relative;
  width: 50%;
  height: 50px;
}

.searchbar-container .searchbar-item input, .searchbar-container .searchbar-itemselect {
  width: 100%;
  height: 100%;
  padding: 20px 0 0;
  border: none;
  background: none;
  outline: none;
}

.searchbar-container .searchbar-item label {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
}

.searchbar-container .searchbar-item label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid blue;
  bottom: -1px;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.searchbar-container .searchbar-item .content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.searchbar-container .searchbar-item input:focus + .label-name + .content-name,
.searchbar-container .searchbar-item input:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
}

.recomended-places img {
  display: block;
  width: 100%;
}

.recomended-places a {
  overflow: hidden;
  position: relative;
  display: block;
}

.recomended-places a:hover img {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.recomended-places a:hover::after {
  position: absolute;
  content: "";
  background-color: rgba(1, 125, 251, 0.6);
  opacity: 1;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.recomended-places .recomended-places-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.recomended-places .places-top-left,
.recomended-places .places-top-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.place {
  padding: 10px;
  position: relative;
}

.place .container h3 {
  position: absolute;
  bottom: 11%;
  left: 5%;
  margin: 0;
  color: #fff;
  font-size: 1.75em;
  z-index: 2;
}

.place .container .inner {
  display: none;
}

.place:hover .container {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 3;
}

.place:hover .container h3 {
  margin-bottom: 5%;
  position: unset;
  font-size: 2em;
}

.place:hover .container .inner {
  width: 250px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: none;
}

.place:hover .container .inner-btn.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin: 0 10px;
}

.fancybox-slide--iframe .fancybox-content {
  border-radius: 10px;
  width: 70%;
}

.fancybox-iframe {
  border-radius: 10px;
}

.recomended-hotels {
  max-width: 1940px;
  margin: 0 auto;
}

.recomended-hotels .hotel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 25%;
  padding: 15px;
}

.recomended-hotels .hotel .button {
  -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.25);
}

.recomended-hotels .hotel .hotel-top {
  overflow: hidden;
}

.recomended-hotels .hotel:hover img {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.recomended-hotels-content {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

.recomended-hotels-content img {
  width: 100%;
}

.hotel-bottom {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 30px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
}

.hotel-bottom p {
  margin: 0;
  padding-bottom: 25px;
}

.hotel-bottom-more {
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.more-offers {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 60px;
}

.more-offers .button {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.swiper-container {
  max-width: 1940px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide .slides-text {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 770px;
  left: 50%;
}

.swiper-slide .slides-text h3 {
  margin-top: 0;
  font-size: 4em;
}

.swiper-slide .slides-text h3 span {
  color: #0dcfff;
}

.swiper-slide .slides-text .author {
  font-weight: 800;
}

.swiper-button-prev {
  left: 9%;
}

.swiper-button-next {
  right: 9%;
}

#map {
  height: 40vh;
}

footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px;
  color: #bdbdbd;
}

footer img {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.contact-container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  background-color: peachpuff;
  border-radius: 7px 7px 0 0;
}

.contact-container .inputsForm {
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  height: 0;
  overflow: hidden;
}

.contact-container .inputsForm input,
.contact-container .inputsForm textarea {
  width: 50%;
  margin: 20px;
  padding: 15px;
  border: none;
  border-radius: 7px;
  resize: none;
  outline: none;
}

.contact-container h4 {
  text-transform: uppercase;
}

.contact-container .contact-content {
  width: 100%;
  height: 100%;
  background-color: rosybrown;
  border-radius: 7px 7px 0 0;
}

.contact-container .contact-content .contact-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.contact-container .contact-content .contact-item i {
  font-size: 2em;
}

.contact-container .contact-content .contact-item i:hover {
  color: #fff;
}

.inputsForm.formDisplay {
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
  height: 50vh;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1400px) {
  .places-top .button,
  .places-bottom .button {
    padding: 10px 20px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  .places-top .button,
  .places-bottom .button {
    padding: 10px 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  html {
    font-size: 9px;
  }
  .recomended-hotels-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .recomended-hotels .hotel {
    max-width: 33.3333%;
  }
  .places-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .places-top .places-top-left,
  .places-top .places-top-center {
    max-width: 50%;
  }
  .places-top .places-top-left a,
  .places-top .places-top-center a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .places-top .places-top-left .button,
  .places-top .places-top-center .button {
    padding: 10px 15px;
  }
  .places-top .places-top-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .places-top .places-top-right .button {
    padding: 10px 15px;
  }
  .places-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .places-bottom .button {
    padding: 10px 15px;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .navbar-container {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    overflow: hidden;
    height: 0px;
  }
  .navbar-container nav {
    margin: 20px 0 0;
  }
  .navbar-container span {
    display: block;
  }
  .navbar-container .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    display: block;
  }
  .navbar-container .main-nav div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  .navbar-container .main-nav ul {
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .navbar-container .main-nav li {
    padding: 20px;
  }
  .navbar-container .main-nav a {
    font-size: 1.5em;
  }
  .active {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    overflow: hidden;
    height: 80vh;
  }
  .searchbar-container .searchbar-selections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 30px 10px 20px;
  }
  .recomended-hotels .hotel {
    max-width: 50%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .recomended-hotels .hotel {
    max-width: 100%;
  }
  .places-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .places-top .places-top-left,
  .places-top .places-top-center,
  .places-top .places-top-right {
    display: block;
    max-width: 100%;
  }
  .places-top .places-top-left a,
  .places-top .places-top-center a,
  .places-top .places-top-right a {
    width: 100%;
  }
  .places-top .places-top-left .button,
  .places-top .places-top-center .button,
  .places-top .places-top-right .button {
    padding: 10px 20px;
  }
  .places-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/*# sourceMappingURL=project2.css.map */