*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#434343), to(#101117));
  background-image: -webkit-linear-gradient(left, #434343 0%, #101117 100%);
  background-image: -o-linear-gradient(left, #434343 0%, #101117 100%);
  background-image: linear-gradient(to right, #434343 0%, #101117 100%);
}

body a {
  text-decoration: none;
  color: #c19a66;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.narrow {
  max-width: 1600px;
}

.display {
  display: block;
}

header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 60px;
  color: #c19a66;
}

header h2 {
  margin: 0;
  font-size: 1rem;
}

.navbar-container {
  margin: 0 auto;
  padding: 10px 20px;
}

.navbar-container nav {
  width: 100%;
}

.navbar-container div {
  margin: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.navbar-container ul {
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-container a {
  padding: 10px;
  white-space: nowrap;
  font-size: 1em;
}

.navbar-container a:hover {
  color: #fff;
}

.navbar-container .button {
  color: black;
  -webkit-box-shadow: 0px 0px 65px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0px 0px 65px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 65px 0px rgba(255, 255, 251, 0.25);
}

.navbar-container .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #c19a66;
  font-size: 24px;
}

.navbar-container span {
  display: none;
}

.button,
a.button {
  padding: 15px 40px;
  border-radius: 100px;
  color: black;
  background-color: #c19a66;
  border-color: black;
  outline: none;
}

.button:hover,
a.button:hover {
  color: #fff;
  background-color: #b08c5c;
  -webkit-box-shadow: inset 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
}

.landing-container {
  width: 100%;
  max-width: 1940px;
  margin: 0 auto;
  min-height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.landing-container h1 {
  margin: 50px 0;
  color: #c19a66;
  font-size: 1rem;
}

.landing-container img {
  width: 30%;
}

.searchbar-container {
  margin: 0 auto;
  max-width: 1940px;
  background-color: #101117;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #c19a66;
}

.searchbar-container input {
  border: none;
  border-radius: 3px;
  height: 100%;
}

.searchbar-container .search-arrow img {
  display: none;
}

.searchbar-container .searchbar-selections {
  width: 100%;
  margin: 0 auto;
  padding: 20px 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.searchbar-container .searchbar-item {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: center;
}

.searchbar-container .searchbar-item i {
  padding: 15px;
}

.searchbar-container .searchbar-item input {
  text-align: center;
  color: #c19a66;
  background-color: #434343;
  outline: none;
}

.searchbar-container .select2-selection.select2-selection--single {
  height: auto;
  padding: 5px;
  background-color: #434343;
  border: none;
  color: inherit;
}

.searchbar-container .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: inherit;
}

.searchbar-container .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #c19a66 transparent transparent transparent;
}

.searchbar-container .button {
  width: auto;
  padding: 10px;
}

.recomended-places {
  max-width: 1940px;
  margin: 0 auto;
}

.recomended-places img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.recomended-places a {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recomended-places a:hover img {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.recomended-places a:hover::after {
  position: absolute;
  content: "";
  background-color: rgba(193, 154, 102, 0.5);
  opacity: 1;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.recomended-places .recomended-places-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.recomended-places .places-top-left,
.recomended-places .places-top-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 30%;
}

.recomended-places .places-bottom .place {
  max-width: 50%;
}

.place {
  padding: 10px;
  position: relative;
}

.place .container h3 {
  position: absolute;
  bottom: 11%;
  left: 5%;
  margin: 0;
  color: #fff;
  font-size: 1.75em;
  z-index: 2;
}

.place .container .inner {
  display: none;
}

.place:hover .container {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 3;
}

.place:hover .container h3 {
  margin-bottom: 5%;
  position: unset;
  font-size: 2em;
}

.place:hover .container .inner {
  width: 250px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: none;
}

.place:hover .container .inner-btn.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin: 0 10px;
}

.fancybox-slide--iframe .fancybox-content {
  border-radius: 10px;
  width: 95%;
  overflow: hidden;
}

.fancybox-iframe {
  border-radius: 10px;
  overflow: hidden;
}

.recomended-hotels {
  max-width: 1940px;
  margin: 0 auto;
}

.recomended-hotels .hotel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 25%;
  padding: 15px;
}

.recomended-hotels .hotel .button {
  -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.25);
}

.recomended-hotels .hotel .hotel-top {
  overflow: hidden;
}

.recomended-hotels .hotel:hover img {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.recomended-hotels .hide {
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.recomended-hotels-content {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

.recomended-hotels-content img {
  width: 100%;
}

.hotel-bottom {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 30px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
}

.hotel-bottom p {
  margin: 0;
  padding-bottom: 25px;
}

.hotel-bottom-more {
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.more-offers {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 60px;
}

.swiper-container {
  max-width: 1940px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide .slides-text {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 770px;
  left: 50%;
}

.swiper-slide .slides-text h3 {
  margin-top: 0;
  font-size: 4em;
}

.swiper-slide .slides-text h3 span {
  color: #0dcfff;
}

.swiper-slide .slides-text .author {
  font-weight: 800;
}

.swiper-button-prev {
  left: 9%;
}

.swiper-button-next {
  right: 9%;
}

#map {
  height: 40vh;
}

footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px;
  color: #c19a66;
}

footer img {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.contacs-section {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: hidden;
  min-height: 75vh;
}

.contacs-section .iphone-about {
  position: absolute;
  bottom: 50%;
  left: 50%;
  color: #c19a66;
}

.contacs-section .iphone {
  position: absolute;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  width: 25%;
  left: 5%;
}

.contacs-section .iphone img {
  width: 100%;
}

.contacs-section video {
  position: absolute;
  bottom: 18%;
  left: 5%;
  width: 90%;
  z-index: 2;
  border-radius: 8% 8% 0 0;
}

.contact-container {
  width: 75%;
  max-width: 1940px;
  height: 100%;
  border-radius: 7px 7px 0 0;
  background-color: #434343;
  color: #c19a66;
}

.contact-container .inputsForm {
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  height: 0;
  overflow: hidden;
}

.contact-container .inputsForm input,
.contact-container .inputsForm textarea {
  width: 60%;
  padding: 20px 10px 0;
  border: none;
  border-radius: 7px;
  resize: none;
  outline: none;
  color: #c19a66;
  font-size: 16px;
}

.contact-container h4 {
  text-transform: uppercase;
}

.contact-container .contact-content {
  width: 100%;
  height: 100%;
  background-color: #101117;
  border-radius: 7px 7px 0 0;
  padding: 20px;
}

.contact-container .contact-content .contact-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.contact-container .contact-content .contact-item i {
  font-size: 2em;
}

.contact-container .contact-content .contact-item i:hover {
  color: #fff;
}

.inputsForm.contactsDisplay {
  -webkit-transition: ease .5s;
  -o-transition: ease .5s;
  transition: ease .5s;
  height: 70vh;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1400px) {
  .places-top .button,
  .places-bottom .button {
    padding: 10px 20px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  .places-top .button,
  .places-bottom .button {
    padding: 10px 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  html {
    font-size: 9px;
  }
  .recomended-hotels-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .recomended-hotels .hotel {
    max-width: 33.3333%;
  }
  .recomended-places .places-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .recomended-places .places-top .places-top-left,
  .recomended-places .places-top .places-top-center {
    max-width: 50%;
  }
  .recomended-places .places-top .places-top-left a,
  .recomended-places .places-top .places-top-center a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .recomended-places .places-top .places-top-left .button,
  .recomended-places .places-top .places-top-center .button {
    padding: 10px 15px;
  }
  .recomended-places .places-top .places-top-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 100%;
  }
  .recomended-places .places-top .places-top-right .button {
    padding: 10px 15px;
  }
  .recomended-places .places-top .places-top-right .place {
    max-width: 50%;
  }
  .recomended-places .places-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .recomended-places .places-bottom .button {
    padding: 10px 15px;
  }
  .recomended-places .places-bottom .place {
    max-width: 50%;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 800px) {
  header h2 {
    font-size: 1.5rem;
  }
  .navbar-container {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    overflow: hidden;
    height: 0px;
    max-height: 100%;
    padding: 0;
  }
  .navbar-container nav {
    margin: 20px 0 0;
  }
  .navbar-container span {
    display: block;
  }
  .navbar-container .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    display: block;
  }
  .navbar-container .main-nav div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  .navbar-container .main-nav ul {
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .navbar-container .main-nav li {
    padding: 20px;
  }
  .navbar-container .main-nav a {
    font-size: 1.5em;
  }
  .active {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    overflow: hidden;
    height: 200vh;
  }
  .searchbar-container .searchbar-selections {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    max-height: 0;
    padding: 0;
  }
  .searchbar-container .searchbar-selections .searchbar-item {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .searchbar-container .searchbar-selections .searchbar-item input {
    width: 100%;
    padding: 10.75px;
    font-size: 1.5rem;
  }
  .searchbar-container .searchbar-selections .searchbar-item label {
    text-align: start;
    display: block;
    width: 60%;
    font-size: 1.5rem;
  }
  .searchbar-container .searchbar-selections .searchbar-item-button {
    width: 50%;
    margin: 5% auto 0;
  }
  .searchbar-container .searchbar-selections .searchbar-item-button .button {
    width: 100%;
  }
  .searchbar-container .select2-selection__rendered {
    padding: 0px;
    font-size: 1.5rem;
  }
  .searchbar-container .search-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 5rem;
  }
  .searchbar-container .search-arrow i {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    color: burlywood;
  }
  .searchbar-container .pressed {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .searchbar-container .search-burger {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    max-height: 200vh;
    padding: 10px 10px 0;
  }
  .recomended-hotels .hotel {
    max-width: 50%;
  }
}

.contacs-section {
  min-height: 75vh;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .recomended-hotels .hotel {
    max-width: 100%;
  }
  .recomended-places .places-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .recomended-places .places-top .places-top-left,
  .recomended-places .places-top .places-top-center,
  .recomended-places .places-top .places-top-right {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
  }
  .recomended-places .places-top .places-top-left .place,
  .recomended-places .places-top .places-top-center .place,
  .recomended-places .places-top .places-top-right .place {
    max-width: 100%;
  }
  .recomended-places .places-top .places-top-left a,
  .recomended-places .places-top .places-top-center a,
  .recomended-places .places-top .places-top-right a {
    max-width: 100%;
  }
  .recomended-places .places-top .places-top-left .button,
  .recomended-places .places-top .places-top-center .button,
  .recomended-places .places-top .places-top-right .button {
    padding: 10px 20px;
  }
  .recomended-places .places-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .recomended-places .places-bottom .place {
    max-width: 100%;
  }
  .contacs-section {
    min-height: 50vh;
  }
  .contacs-section .contact-container {
    width: 100%;
  }
  .contacs-section .iphone {
    display: none;
  }
}

/*# sourceMappingURL=project2.css.map */